
.automizy-button {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Segoe UI;
}

.automizy-button.new-row {
    clear: both;
    margin: 0 24px 16px 0;
    display: block;
}

.automizy-button a{
    -webkit-transition: background-color, color 0.2s;
    -moz-transition: background-color, color 0.2s;
    transition: background-color, color 0.2s;
    display: inline-block;
    box-sizing: border-box;
}

/*file upload*/
.automizy-button .automizy-button-fileupload-input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
}

/*Nobox buttons*/
.automizy-button.automizy-skin-nobox a{
    color:inherit;
}

.automizy-button.automizy-skin-nobox-green a,
.automizy-button.automizy-skin-nobox-orange a {
    text-align: left;
    text-decoration: none;
}

.automizy-button.disabled.automizy-skin-nobox-green a,
.automizy-button.automizy-skin-nobox-orange a {
    color: #c0c0c0;
}

.automizy-button.automizy-skin-nobox-orange a {
    color: rgb(244, 106, 31);
}

.automizy-button.automizy-skin-nobox-green a {
    color: #4CAF50;
}

.automizy-button.automizy-skin-nobox a:hover,
.automizy-button.automizy-skin-nobox-green a:hover,
.automizy-button.automizy-skin-nobox-orange a:hover {
    text-decoration: underline;
}

/*Boxed buttons*/
.automizy-button.automizy-skin-bordered-green a,
.automizy-button.automizy-skin-bordered-black a,
.automizy-button.automizy-skin-bordered-orange a,
.automizy-button.automizy-skin-simple-likemenu a,
.automizy-button.automizy-skin-simple-white a,
.automizy-button.automizy-skin-image-white a,
.automizy-button.automizy-skin-simple-orange a,
.automizy-button.automizy-skin-simple-blue a,
.automizy-button.automizy-skin-simple-green a {
    line-height: 32px;
    /*height: 34px;*/
    min-width: 34px;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent: 0;
    display: inline-block;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.automizy-button.automizy-skin-image-white a {
    min-width: 50px;
}

.automizy-button.automizy-skin-bordered-green.automizy-button-semithin a,
.automizy-button.automizy-skin-bordered-black.automizy-button-semithin a,
.automizy-button.automizy-skin-bordered-orange.automizy-button-semithin a,
.automizy-button.automizy-skin-simple-likemenu.automizy-button-semithin a,
.automizy-button.automizy-skin-simple-white.automizy-button-semithin a,
.automizy-button.automizy-skin-image-white.automizy-button-semithin a,
.automizy-button.automizy-skin-simple-orange.automizy-button-semithin a,
.automizy-button.automizy-skin-simple-blue.automizy-button-semithin a,
.automizy-button.automizy-skin-simple-green.automizy-button-semithin a {
    padding: 9px 10px 9px 10px;
    height: auto;
    line-height: normal;
}

.automizy-button.automizy-skin-bordered-green.automizy-button-thin a,
.automizy-button.automizy-skin-bordered-black.automizy-button-thin a,
.automizy-button.automizy-skin-bordered-orange.automizy-button-thin a,
.automizy-button.automizy-skin-simple-likemenu.automizy-button-thin a,
.automizy-button.automizy-skin-simple-white.automizy-button-thin a,
.automizy-button.automizy-skin-image-white.automizy-button-thin a,
.automizy-button.automizy-skin-simple-orange.automizy-button-thin a,
.automizy-button.automizy-skin-simple-blue.automizy-button-thin a,
.automizy-button.automizy-skin-simple-green.automizy-button-thin a {
    padding: 6px 10px 6px 10px;
    height: auto;
    line-height: normal;
}

.automizy-button.automizy-skin-bordered-green.automizy-button-thinner a,
.automizy-button.automizy-skin-bordered-black.automizy-button-thinner a,
.automizy-button.automizy-skin-bordered-orange.automizy-button-thinner a,
.automizy-button.automizy-skin-simple-likemenu.automizy-button-thinner a,
.automizy-button.automizy-skin-simple-white.automizy-button-thinner a,
.automizy-button.automizy-skin-image-white.automizy-button-thinner a,
.automizy-button.automizy-skin-simple-orange.automizy-button-thinner a,
.automizy-button.automizy-skin-simple-blue.automizy-button-thinner a,
.automizy-button.automizy-skin-simple-green.automizy-button-thinner a {
    padding: 4px 7px 4px 7px;
    height: auto;
    line-height: normal;
}

.automizy-button.automizy-skin-bordered-green.automizy-button-thick a,
.automizy-button.automizy-skin-bordered-black.automizy-button-thick a,
.automizy-button.automizy-skin-bordered-orange.automizy-button-thick a,
.automizy-button.automizy-skin-simple-likemenu.automizy-button-thick a,
.automizy-button.automizy-skin-simple-white.automizy-button-thick a,
.automizy-button.automizy-skin-image-white.automizy-button-thick a,
.automizy-button.automizy-skin-simple-orange.automizy-button-thick a,
.automizy-button.automizy-skin-simple-blue.automizy-button-thick a,
.automizy-button.automizy-skin-simple-green.automizy-button-thick a {
    padding: 12px 18px 12px 18px;
    font-size:15px;
    height: auto;
    line-height: normal;
}

.automizy-button.automizy-skin-bordered-green.automizy-button-semithick a,
.automizy-button.automizy-skin-bordered-black.automizy-button-semithick a,
.automizy-button.automizy-skin-bordered-orange.automizy-button-semithick a,
.automizy-button.automizy-skin-simple-likemenu.automizy-button-semithick a,
.automizy-button.automizy-skin-simple-white.automizy-button-semithick a,
.automizy-button.automizy-skin-image-white.automizy-button-semithick a,
.automizy-button.automizy-skin-simple-orange.automizy-button-semithick a,
.automizy-button.automizy-skin-simple-blue.automizy-button-semithick a,
.automizy-button.automizy-skin-simple-green.automizy-button-semithick a {
    padding: 8px 18px 8px 18px;
    font-size: 14px;
    height: auto;
    line-height: normal;
}

.automizy-button.disabled a {
    cursor: default !important;
    outline: 0 !important;;
    -webkit-box-shadow: none !important;;
    box-shadow: none !important;
    opacity: 0.65 !important;;
}

.automizy-button.automizy-skin-bordered-green a:active,
.automizy-button.automizy-skin-bordered-black a:active,
.automizy-button.automizy-skin-bordered-orange a:active,
.automizy-button.automizy-skin-simple-likemenu a:active,
.automizy-button.automizy-skin-simple-white a:active,
.automizy-button.automizy-skin-simple-green a:active,
.automizy-button.automizy-skin-simple-blue a:active,
.automizy-button.automizy-skin-simple-orange a:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}




.automizy-button.automizy-skin-simple-white a,
.automizy-button.automizy-skin-image-white a {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);

}
.automizy-button.automizy-skin-simple-white a:hover,
.automizy-button.automizy-skin-image-white a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-simple-white a {
    color: #2b2f33;
    border-color: #DCD8E7;
    background-color: #f3f3f9;
}
.automizy-button.automizy-skin-image-white a {
    line-height: 0;
    padding: 7px 20px 8px 20px;
}
.automizy-button.automizy-skin-simple-white.disabled a,
.automizy-button.automizy-skin-image-white.disabled a {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);
}



.automizy-button.automizy-skin-simple-likemenu a {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);

}
.automizy-button.automizy-skin-simple-likemenu a .automizy-button-icon {
    color: #f46a1f;
}
.automizy-button.automizy-skin-simple-likemenu a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-simple-likemenu a {
    color: #f46a1f;
    border-color: #DCD8E7;
    background-color: #f3f3f9;
}
.automizy-button.automizy-skin-simple-likemenu.disabled a {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);
}
.automizy-button.automizy-skin-image-white.disabled a img {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);
}




.automizy-button.automizy-skin-simple-orange a {
    background-color: rgb(244, 106, 31);
    color: rgb(255, 255, 255);
}
.automizy-button.automizy-skin-simple-orange a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-simple-orange a {
    background-color: rgb(255, 121, 31);
    border-color: #ff754a;
}
.automizy-button.automizy-skin-simple-orange a:active,
.automizy-input-box input[type="file"]:active + span .automizy-skin-simple-orange a {
}
.automizy-button.disabled.automizy-skin-simple-orange a {
    background-color: rgb(244, 106, 31) !important;
    color: rgb(255, 255, 255) !important;
}



.automizy-button.automizy-skin-simple-blue a {
    color: rgb(255, 255, 255);
    border-color: rgb(20, 137, 230);
    background: rgb(33, 150, 243);
}
.automizy-button.automizy-skin-simple-blue a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-simple-blue a {
    border-color: rgb(21, 153, 255);
    background: rgb(34, 157, 255);
}
.automizy-button.disabled.automizy-skin-simple-blue a {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: rgba(158, 173, 195, .16);
}



.automizy-button.automizy-skin-bordered-green a {
    color:#79c37c;
    border: 2px solid #4CAF50;
    background: #ffffff;
    padding: 4px 8px 4px 8px;
}
.automizy-button.automizy-skin-bordered-green a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-bordered-green a {
    color: #4CAF50;
}
.automizy-button.disabled.automizy-skin-bordered-green a {
    opacity:0.5;
}



.automizy-button.automizy-skin-bordered-black a {
    color:#464646;
    border: 2px solid #212121;
    background: #ffffff;
    padding: 4px 8px 4px 8px;
}
.automizy-button.automizy-skin-bordered-black a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-bordered-black a {
    color: #464646;
}
.automizy-button.disabled.automizy-skin-bordered-black a {
    opacity:0.5;
}



.automizy-button.automizy-skin-bordered-orange a {
    color:#f46a1f;
    border: 1px solid #f46a1f;
    background: #ffffff;
}
.automizy-button.automizy-skin-bordered-orange a:hover,
.automizy-input-box input[type="file"]:hover + span .automizy-skin-bordered-orange a {
    color: #e98604;
}
.automizy-button.disabled.automizy-skin-bordered-orange a {
    opacity:0.5;
}



.automizy-button.automizy-skin-simple-green a {
    color: #fff;
    background: #4CAF50;
}
.automizy-button.automizy-skin-simple-green a:hover {
    background: #59bc5d;
}
.automizy-button.automizy-skin-simple-green a:active {
}
.automizy-button.disabled.automizy-skin-simple-green a {
    color: #fff !important;
    background: #4CAF50 !important;
}



.automizy-button .automizy-button-icon {
    display: none;
    padding: 0 12px 0 12px;
}
.automizy-button.automizy-has-icon .automizy-button-icon {
    display: inline-block;
    line-height: 32px;
}
.automizy-button.automizy-has-icon:not(.automizy-has-text) .automizy-button-text {
    display: none;
}
.automizy-button.automizy-has-icon:not(.automizy-has-text) .automizy-button-icon {
    padding: 0 2px 0 2px;
}

/*Menu iconed button*/
.automizy-button.automizy-skin-menuicon {

}

.automizy-button.automizy-skin-menuicon .automizy-button-icon {
    font-size: 18px;
    color: #a9a9a9;
    padding: 20px !important;
    line-height: normal;
}

.automizy-button.automizy-skin-menuicon:hover .automizy-button-icon,
.automizy-button.automizy-skin-menuicon.automizy-active .automizy-button-icon {
    color: #f46a1f;
}

.automizy-button.automizy-skin-menuicon a {
    line-height: normal;
    height: auto;
}

.automizy-button.automizy-skin-menuicon .automizy-button-text {
    display: none;
}

.automizy-button .automizy-button-icon.automizy-button-icon-position-top {
    padding: 11px 0 0 0;
    display: block;
}

.automizy-button .automizy-button-icon.automizy-button-icon-position-bottom {
    padding: 0 0 9px 0;
    display: block;
}

/*Tab button*/
/*this button is 100% wide, has to be drawn in a container with desirable size*/

.automizy-button.automizy-skin-tab-button {
    background-color: #FFFFFF;
    border-radius: 3px;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
    border: 1px solid rgba(158, 173, 195, 0.16);
    width: 100%;
}

.automizy-button.automizy-skin-tab-button a {
    color: #a9a9a9;
    text-decoration: none;
    padding: 15px 10px;
    width: 100%;
}

/*Tab button hover state*/
.automizy-button.automizy-skin-tab-button:hover {
    background: #FAF9FA;
}

.automizy-button.automizy-skin-tab-button:hover a {
    color: #2b2f33;
}

/*Tab button active state*/
.automizy-button.automizy-skin-tab-button.automizy-active {
    background: rgb( 244,106,31 );
}
.automizy-button.automizy-skin-tab-button.automizy-active a,
.automizy-button.automizy-skin-tab-button.automizy-active a .automizy-button-icon{
    color: #FFFFFF;
}

.automizy-button.automizy-skin-tab-button a .automizy-button-icon{
}

/*Tab button icon*/
.automizy-button.automizy-skin-tab-button a .automizy-button-icon {
    font-size: 18px;
    display: block;
    float: none;
    margin: 0 auto;
    color: #2196F3;
}

.automizy-button.automizy-skin-tab-button a .automizy-button-icon.automizy-button-icon-position-top {
    padding: 0 0 4px 0;
    display: block;
}

.automizy-button.automizy-skin-tab-button a .automizy-button-icon.automizy-button-icon-position-bottom {
    padding: 4px 0 0 0;
    display: block;
}




.automizy-button-badge{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    border-color: #1489e6;
    background: #2196F3;
    font-size: 11px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 0;
    line-height: 1.8;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.automizy-button-badge:empty{
    display: none !important;
}


.automizy-button-dropdown-button{
    margin: 0 0 0 -3px !important;
    min-width: 23px !important;
    width: 23px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.automizy-button-dropdown-menu{
    position:absolute;
    z-index:16777270;
    display:none;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color:#ffffff;
    margin:1px 0 0 0;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}
.automizy-button-dropdown-menu-item{
    color:#555555;
    cursor:pointer;
    padding: 8px;
    font-size: 14px;
}
.automizy-button-dropdown-menu-item:hover{
    background-color:#F46A1F;
    color:#FFFFFF;
}
.automizy-button-dropdown-menu-divider{
    background: #dddddd;
    height: 1px;
}


.automizy-custom-width .automizy-button-a{
    width:100%;
}
.automizy-custom-width.automizy-has-dropdown .automizy-button-a{
    width: calc(100% - 20px);
}