.automizy-button{
    display: inline-block;
    position: relative;
}
.automizy-button.new-row{
    clear: both;
    margin: 0 24px 16px 0;
    display: block;
}
.automizy-button.automizy-skin-nobox-green a{
    color: #669138;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    margin: 6px 0 0 0;
    text-decoration: none;
}
.automizy-button.disabled.automizy-skin-nobox-green a{
    color: #c0c0c0;
}

.automizy-button.automizy-skin-simple-white a,
.automizy-button.automizy-skin-image-white a{
    box-sizing: border-box;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f7f8f1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f7f8f1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f8f1');
    background-color:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent:0px;
    border:1px solid #cadfb6;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    padding:8px 20px 9px 20px;
    text-decoration:none;
    text-align:center;
    margin:0;
    position:relative;
    vertical-align:middle;
    white-space: nowrap;
}
.automizy-button.automizy-skin-simple-white a:hover,
.automizy-button.automizy-skin-image-white a:hover,
.automizy-input-box input[type="file"]:hover + span a{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f8f1), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #f7f8f1 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f8f1', endColorstr='#ffffff');
    background-color:#f7f8f1;
}
.automizy-button.automizy-skin-simple-white a:active,
.automizy-button.automizy-skin-image-white a:active,
.automizy-input-box input[type="file"]:active + span a{
    top:0;
}
.automizy-button.disabled.automizy-skin-simple-white a,
.automizy-button.disabled.automizy-skin-image-white a{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9eae2), color-stop(1, #dbdcd4) );
    background:-moz-linear-gradient( center top, #e9eae2 5%, #dbdcd4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eae2', endColorstr='#dbdcd4');
    background-color:#e9eae2;
    opacity:0.5;
    cursor:default;
}
.automizy-button.automizy-skin-image-white a{
    line-height: 0;
    padding: 7px 20px 8px 20px;
}

.automizy-button.automizy-skin-simple-orange a,
.automizy-button.automizy-skin-simple-green a{
    -moz-box-shadow:inset 0px -3px 0px 0px #d56224;
    -webkit-box-shadow:inset 0px -3px 0px 0px #d56224;
    box-shadow:inset 0px -3px 0px 0px #d56224;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f79764), color-stop(1, #f47e3e) );
    background:-moz-linear-gradient( center top, #f79764 5%, #f47e3e 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f79764", endColorstr="#f47e3e");
    background-color:#f79764;
    text-shadow:1px 2px 1px #ca6e3d;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    padding:8px 20px 9px 20px;
    text-decoration:none;
    text-align:center;
    margin:0 0 0 0;
    min-width:100px;
}
.automizy-button.automizy-skin-simple-green a{
    -moz-box-shadow:inset 0px -3px 0px 0px #669138;
    -webkit-box-shadow:inset 0px -3px 0px 0px #669138;
    box-shadow:inset 0px -3px 0px 0px #669138;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dbd79), color-stop(1, #8cb262) );
    background:-moz-linear-gradient( center top, #9dbd79 5%, #8cb262 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9dbd79", endColorstr="#8cb262");
    background-color:#9dbd79;
    text-shadow:1px 2px 1px #718f50;
}
.automizy-button.automizy-skin-simple-orange a:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f47e3e), color-stop(1, #f79764) );
    background:-moz-linear-gradient( center top, #f47e3e 5%, #f79764 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f47e3e", endColorstr="#f79764");
    background-color:#f47e3e;
}
.automizy-button.automizy-skin-simple-green a:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb262), color-stop(1, #9dbd79) );
    background:-moz-linear-gradient( center top, #8cb262 5%, #9dbd79 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#8cb262", endColorstr="#9dbd79");
    background-color:#8cb262;
}
.automizy-button.automizy-skin-simple-orange a:active,
.automizy-button.automizy-skin-simple-green a:active{
    position:relative;
    top:1px;
    -moz-box-shadow:inset 0px -2px 0px 0px #d56224;
    -webkit-box-shadow:inset 0px -2px 0px 0px #d56224;
    box-shadow:inset 0px -2px 0px 0px #d56224;
}
.automizy-button.automizy-skin-simple-green a:active{
    -moz-box-shadow:inset 0px -2px 0px 0px #669138;
    -webkit-box-shadow:inset 0px -2px 0px 0px #669138;
    box-shadow:inset 0px -2px 0px 0px #669138;
}
.automizy-button.disabled.automizy-skin-simple-green a,
.automizy-button.disabled.automizy-skin-simple-orange a{
    color:#e6e6e6;
    opacity:0.5;
    cursor:default;
}