@import url("https://fonts.googleapis.com/css?family=Roboto");

.automizy-dialog{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    z-index:2001;
}
.automizy-dialog-box{
    display:inline-block;
    box-sizing:border-box;
    background-color:#ffffff;
    position: relative;
    width:60%;
    min-width:100px;
    text-indent: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );
    -webkit-box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );
}

.automizy-dialog-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 9px;
    color: rgb( 88, 88, 88 );
    cursor: pointer;
    z-index: 1000;
}

.automizy-dialog-head{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.3;
    text-align: left;
    position: relative;
    padding: 24px;
}
.automizy-dialog-buttons{
    height:31px;
    padding:24px;
    text-align: right;
}

.automizy-dialog-buttons .automizy-button{
    margin-right: 24px;
}
.automizy-dialog-buttons .automizy-button:last-of-type{
    margin-right: 0;
}

.automizy-dialog-content{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    padding: 0 24px;
    max-height: calc(100vh - 111px);
    overflow-x:hidden;
    overflow-y:auto;
}