@import url("https://fonts.googleapis.com/css?family=Roboto");

.automizy-dialog{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    z-index:2001;
}
.automizy-dialog-box{
    display:inline-block;
    box-sizing:border-box;
    background-color:#ffffff;
    position: relative;
    width:60%;
    min-width:100px;
    text-indent: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.automizy-dialog-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 9px;
    color: #000000;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.automizy-dialog-close:hover{
    opacity: 0.5;
}

.automizy-dialog-head{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42857143;
    color: #3e4855;
    text-align: left;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #dfe8f1;
}
.automizy-dialog-buttons{
    height:34px;
    padding:15px;
    text-align: right;
    border-top: 1px solid #dfe8f1;
}

.automizy-dialog-buttons .automizy-button{
    margin-right: 24px;
}
.automizy-dialog-buttons .automizy-button:last-of-type{
    margin-right: 0;
}

.automizy-dialog-content{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    max-height: calc(100vh - 111px);
    overflow-x:hidden;
    overflow-y:auto;
}