
.automizy-form .automizy-form-subtitle{
    margin-bottom: 10px;
}

.automizy-content .automizy-form .automizy-form-subtitle{
    margin: 0 -18px 18px -18px;
}

.automizy-content .automizy-form .automizy-form-subtitle:first-child{
    margin-top: -18px;
}

.automizy-form .automizy-form-buttons{
    text-align:center;
    min-height: 30px;
}

.automizy-form .automizy-form-buttons .automizy-button{
    margin-left:4px;
    margin-right: 4px;
}

.automizy-form .automizy-form-buttons .automizy-button:first-child{
    margin-left:0;
}

.automizy-form .automizy-form-buttons .automizy-button:last-child {
    margin-right: 0;
}

.automizy-form .automizy-form-tables{
    padding: 12px 12px 36px 12px;
}

.automizy-form .automizy-form-inputs:empty,
.automizy-form .automizy-form-buttons:empty,
.automizy-form .automizy-form-tables:empty{
    display:none;
}

.automizy-form .automizy-form-group{
    display: none;
    overflow:hidden;
    padding:0;
    border:none;
    top: 0;
    left: 0;
    clear:both;
}

.automizy-form .automizy-form-group.active{
    display: block;
    overflow:auto;
    height:auto;
    padding: 15px 20px;
    top: auto;
    left: auto;
}

.automizy-form .automizy-form-group-switch{
    padding: 10px 15px;
    margin: 1px 0;
    color: #555a60;
    background: transparent;
    border: none;
    cursor:pointer;
    width:100%;
    box-sizing: border-box;
    float:left;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    border: 1px solid rgb(240, 242, 246);
    background-color: #FEFEFF;
    border-radius: 3px;
}

.automizy-form .automizy-form-group-switch:hover,
.automizy-form .automizy-form-group-switch.active:hover{
    background-color: #f3f3f9;
    color: #2b2f33;
    border-color: #DCD8E7;
    -webkit-transition: border-color,color,background-color 0.3s;
    transition: border-color,color,background-color 0.3s;
}

.automizy-form .automizy-form-group-switch.active{
    background-color: #FEFEFF;
    color: #2b2f33;
    border-color: #DCD8E7;
}