.automizy-inline-editable.inline-edit-inactive  .automizy-input2 input:not(:placeholder-shown){
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.automizy-inline-editable.inline-edit-inactive .automizy-input2-button-right-cell{
    display: none;
}

/*Buttoned inputs*/

.automizy-inline-editable .automizy-input2-has-right-button .automizy-input2-button-right-cell .automizy-button{
    margin-left: 10px;
}

/*Right button*/

.automizy-inline-editable .automizy-input2-has-right-button .automizy-input2-button-right-cell{
    border-left: none;
}

.automizy-inline-editable .automizy-input2-has-right-button input{
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-right-width: 1px;
}

.automizy-inline-editable .automizy-input2-has-right-button .automizy-input2-button-right-cell .automizy-button > a{
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-left-width: 1px;
}
