.automizy-list{

}
.automizy-list-title{
    display:none;
    font-size: 14px;
    color: #4a4a4a;
    padding: 24px 0 9px 0;
}
.automizy-list.automizy-has-title .automizy-list-title{
    display:block;
}
.automizy-list-elements{
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding:0;
}
.automizy-list.automizy-has-title .automizy-list-elements{
    padding:0 0 0 12px;
}
.automizy-list-loading{
    background: #ffffff url(../images/loading.gif) no-repeat center center;
    height: 30px;
}

.automizy-list-element{
    cursor:pointer;
    position: relative;
    box-sizing: border-box;
}



.automizy-list-element.automizy-type-simple{
    color:#4a4a4a;
    font-size:13px;
    padding:3px 0 3px 0;
    font-weight:bold;
}
.automizy-list-element.automizy-type-simple:hover{
    text-decoration:underline;
}
.automizy-list-element.automizy-type-simple.automizy-active{
    color:#42aacf;
}



.automizy-list-element.automizy-type-title-and-subtitle{
    color:#4a4a4a;
    padding:3px 0 3px 0;
}
.automizy-list-element.automizy-type-title-and-subtitle:hover{
    text-decoration:underline;
}
.automizy-list-element.automizy-type-title-and-subtitle.automizy-active{
    color:#42aacf;
}
.automizy-list-element.automizy-type-title-and-subtitle .automizy-list-element-title{
    font-size:12px;
    font-weight:bold;
}
.automizy-list-element.automizy-type-title-and-subtitle .automizy-list-element-subtitle{
    font-size:11px;
}



.automizy-list-element.automizy-type-box{
    color:#4a4a4a;
    padding:6px;
    border:2px solid #cacaca;
    min-height: 72px;
    border-radius:2px;
    margin-bottom:6px;
}
.automizy-list-element.automizy-type-box:hover{
    border-color: #4a4a4a;
}
.automizy-list-element.automizy-type-box.automizy-active{
    border-color:#2094f9;
}
.automizy-list-element.automizy-type-box .automizy-list-element-title{
    font-size:11px;
}
.automizy-list-element.automizy-type-box .automizy-list-element-subtitle{
    font-size:12px;
    font-weight:bold;
}
.automizy-list-element.automizy-type-box .automizy-list-element-info{
    font-size:11px;
    position: absolute;
    bottom:6px;
    left:6px;
}
.automizy-list-element.automizy-type-box .automizy-list-element-badge{
    font-size:10px;
    position: absolute;
    bottom:6px;
    right:6px;
    border-radius: 10px;
    width:90px;
    border:1px solid #4a4a4a;
    box-sizing: border-box;
    padding:1px;
    text-align:center;
    text-transform: uppercase;
}
.automizy-list-element.automizy-type-box.automizy-active .automizy-list-element-badge{
    background-color: #2094f9;
    border-color: #2094f9;
    color:#ffffff;
}