.automizy-select{   /*select field*/
    font-family:Arial;
    color: #333333;
    font-size:14px;
    height:30px;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color:#ffffff;
    box-sizing: border-box;
    display:inline-block;
    cursor:pointer;
}
.automizy-select.automizy-active{  /*select field if select box opened*/
     color: #333333;
     background-color: #e6e6e6;
     border-color: #adadad;
}
.automizy-select .automizy-select-table{ /*select field content table*/

}
.automizy-select .automizy-select-tr{    /*select field content table row*/

}
.automizy-select .automizy-select-td-icon{   /*select field content table icon*/
    visibility: hidden;
    width:0;
}
.automizy-select.automizy-has-icon .automizy-select-td-icon{   /*select field content table icon*/
    visibility: visible;
    width:auto;
}
.automizy-select .automizy-select-td-content{   /*select field content table content*/
    text-align:left;
    vertical-align:middle;
    padding: 6px;
}
.automizy-select .automizy-select-td-content-div{   /*select field content table content*/
    display:block;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.automizy-select .automizy-select-td-arrow{   /*select field content table content*/
    visibility: hidden;
    width:0;
}
.automizy-select.automizy-has-arrow .automizy-select-td-arrow{   /*select field content table icon*/
    visibility: visible;
    width:auto;
}
.automizy-select.automizy-empty .automizy-select-td-content{   /*select field empty*/
    color: #777777;
}


.automizy-select-option-box{   /*option box*/
    position:absolute;
    z-index:16777270;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color:#ffffff;
    margin:1px 0 0 0;
    box-sizing: border-box;
}
.automizy-select-option-table{  /*option box content table*/
    width:100%;
    font-family:Arial;
}
.automizy-select-option-table .automizy-select-option-tr{   /*option row*/

}
.automizy-select-option-table .automizy-select-option-tr:hover{
    background-color:#f5f5f5;
    cursor:pointer;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected{   /*active option row*/

}
.automizy-select-option-table .automizy-select-option-tr.automizy-disabled{   /*disabled option row*/
    background-color:transparent;
    color:#777777;
    cursor: not-allowed;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-icon{   /*row icon icon cell*/
    vertical-align:middle;
    visibility: hidden;
    width:0;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-icon .automizy-select-option-td-icon{
    visibility: visible;
    width:auto;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-content{       /*option row content cell*/
    vertical-align:middle;
    height:26px;
    padding:3px 0 3px 20px;
    word-break: break-all;
    font-size:14px;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-group .automizy-select-option-td-content{       /*option row content cell*/
    padding-left:32px;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-check{     /*option row check cell*/
    vertical-align:middle;
    width:0;
    height:26px;
    visibility: hidden;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-select .automizy-select-option-td-check{
    visibility: visible;
    width:40px;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected .automizy-select-option-td-check{     /*active option row check cell*/
    background:transparent url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat 4px center;
}

.automizy-select-option-table .automizy-select-group-title{
    font-size: 12px;
    color: #777777;
    vertical-align:middle;
    height:26px;
    padding:3px 0 3px 20px;
    word-break: break-all;
}

.automizy-select-option-table .automizy-select-group-separator-tr{

}
.automizy-select-option-table .automizy-select-group-separator-tr:last-child{
    display:none
}
.automizy-select-option-table .automizy-select-group-separator-td{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

