.automizy-select{   /*select field*/
    font-family:Arial;
    color: #333333;
    font-size:14px;
    height:30px;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color:#ffffff;
    box-sizing: border-box;
    display:inline-block;
    cursor:pointer;
    min-width:180px;
    vertical-align: middle;
    position: relative;
    /*overflow: hidden;*/
}
.automizy-select.automizy-active{
     color: #333333;
     background-color: #e6e6e6;
     border-color: #adadad;
}
.automizy-select.automizy-disabled{
     color: #333333;
     opacity:0.65;
}
.automizy-select .automizy-select-table{
    width:100%;
    font-family:Arial;
}
.automizy-select .automizy-select-tr{

}
.automizy-select .automizy-select-td-icon{
    font-size:0;
    text-align:center;
    vertical-align:middle;
    padding:0;
    margin:0;
    width:0px;
}
.automizy-select.automizy-has-icon .automizy-select-td-icon{
    padding:0 6px 0 14px;
}
.automizy-select .automizy-select-td-icon .automizy-icon{
    display: none;
}
.automizy-select.automizy-has-icon .automizy-select-td-icon .automizy-icon{
    display: inline-block;
}
.automizy-select .automizy-select-td-content{
    text-align:left;
    vertical-align:middle;
    padding: 6px;
    font-size:14px;
    width:100%;
    max-width: 1px;
}
.automizy-select .automizy-select-td-content-div{
    display:block;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.automizy-select .automizy-select-td-arrow{
    font-size:0;
    text-align:center;
    vertical-align:middle;
    padding:0;
    margin:0;
    width:0px;
}
.automizy-select.automizy-has-arrow .automizy-select-td-arrow{
    padding:0 6px 0 6px;
}
.automizy-select .automizy-select-td-arrow .automizy-icon{
    display: none;
}
.automizy-select.automizy-has-arrow .automizy-select-td-arrow .automizy-icon{
    display: inline-block;
}
.automizy-select.automizy-empty .automizy-select-td-content{
    color: #777777;
}

.automizy-select-search-box{
    padding: 8px 8px 4px 8px;
}
.automizy-select-search-box .automizy-input{
    padding: 0;
}

.automizy-select .automizy-select-loading-box{
    display:none;
    width:100%;
    height:100%;
    background-color:#ffffff;
    padding: 6px 0 0 6px;
    box-sizing: border-box;
}
.automizy-select.automizy-loading .automizy-select-loading-box{
    display:block;
}

.automizy-select .automizy-select-empty-box{
    display:none;
    color: #ff0000;
    padding: 6px 0 0 6px;
}
.automizy-select.automizy-empty-select{
    border:none;
    background-color:transparent;
    cursor:auto;
}
.automizy-select.automizy-empty-select .automizy-select-table{
    display:none;
}
.automizy-select.automizy-empty-select .automizy-select-empty-box{
    display:block;
}



.automizy-select.automizy-loading .automizy-select-table{
    display:none;
}


.automizy-select-option-box-widget{   /*option box widget*/
    position:absolute;
    z-index:16777270;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color:#ffffff;
    margin:1px 0 0 0;
    box-sizing: border-box;
}
.automizy-select-option-box{   /*option box*/
    overflow: auto;
    max-height: 250px;
}
.automizy-select-option-table{  /*option box content table*/
    width:100%;
    font-family:Arial;
}
.automizy-select-option-table .automizy-select-option-tr{   /*option row*/

}
.automizy-select-option-table .automizy-select-option-tr:hover{
    background-color:#f5f5f5;
    cursor:pointer;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected{   /*active option row*/

}
.automizy-select-option-table .automizy-select-option-tr.automizy-disabled{   /*disabled option row*/
    background-color:transparent;
    color:#777777;
    cursor: not-allowed;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-icon{
    font-size:0;
    text-align:center;
    vertical-align:middle;
    padding:0 6px 0 14px;
    width:0px;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-icon .automizy-icon{
    display: none;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-icon .automizy-select-option-td-icon .automizy-icon{
    display: inline-block;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-content{       /*option row content cell*/
    vertical-align:middle;
    padding:6px 0 6px 0;
    word-break: break-all;
    font-size:14px;
    width:100%;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-group .automizy-select-option-td-icon{
    padding:0 6px 0 26px;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-check{
    vertical-align:middle;
    width:0;
    max-width:0;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-has-select .automizy-select-option-td-check{
    width:40px;
    min-width:40px;
    max-width:40px;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected .automizy-select-option-td-check{     /*active option row check cell*/
    background:transparent url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat 4px center;
}

.automizy-select-option-table .automizy-select-group-title{
    font-size: 12px;
    color: #777777;
    vertical-align:middle;
    padding:6px 0 6px 20px;
    word-break: break-all;
}

.automizy-select-option-table .automizy-select-group-separator-tr{

}
.automizy-select-option-table .automizy-select-group-separator-tr:last-child{
    display:none
}
.automizy-select-option-table .automizy-select-group-separator-td{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

