.automizy-select{

}
.automizy-select-table{

}
.automizy-select-tr{

}
.automizy-select-td-icon{

}


.automizy-select-option-box{
    position:absolute;
    z-index:16777270;
}
.automizy-select-option-box-options{

}


.automizy-select-option-table{
    background-color:white;
    width:100%;
}
.automizy-select-option-table .automizy-select-option-tr{

}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected{
    background-color:lightgreen;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-icon{
    vertical-align:middle;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-content{
    vertical-align:middle;
}
.automizy-select-option-table .automizy-select-option-tr .automizy-select-option-td-check{
    vertical-align:middle;
    background-color:gray;
}
.automizy-select-option-table .automizy-select-option-tr.automizy-selected .automizy-select-option-td-check{
    background-color:green;
}



