.automizy-tag{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
    margin: 0 10px;
}

.automizy-tag .automizy-tag-icon{
    display: inline-block;
    box-sizing: border-box;
    color: #b9b9b9;
    padding: 5px 10px 5px 5px;
    vertical-align: middle;
}

.automizy-tag .automizy-tag-text{
    display: inline-block;
    box-sizing: border-box;

}

.automizy-tag .automizy-tag-close{
    display: inline-block;
    box-sizing: border-box;
    color: #b9b9b9;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.automizy-tag .automizy-tag-close:hover{
    color: #555a60;
}